body.page1{
    background-color: whitesmoke;
}
h1.header1 {
    text-align:center;
    color: black;
    border-style: outset;
}
h1.header11{
    text-align: center;
    color: greenyellow;
}
p.p1{
    text-align: center;
    color: brown;
    font-size: 200%
}
p.p11{
    font-size: 400%;
    text-align: center;
    border-style: dotted;
}
ul {
    list-style-type: none;
    margin: -21;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 5.5%;
  }
  li a:hover {
    background-color: #04AA6D; /* Hovering color of the menu-bar */
  }


  /* Image gallery */ 
  div.gallery {

    margin: 2px;
    border: 2px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 15px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }



    /* WebGames page */

    h1.header02 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   #formatBlockGame{
display: flex;
    right: 40px;
    top: 45%;   
    width: 45%;
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       float: right;
   }
   #formatBlockGame2{
display: flex;
    left: 40px;
      width: 45%;
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       float: left;
   }

#lastcol{
    margin-bottom: 2.5%;
}



    /* Third Page */
    h1.header3 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   #formatBlockMusic{
    position: relative;
    left: 5%;
    margin-top: 1%;   
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       width: 85%;
       float: left;

    }
    .containerM {
      display: flex;
      float: left;
      margin-left: 22%;
   }
 
    /* Fourth Page */ 
    h1.header4 {
        text-align:center;
        color: black;
        border-style: outset;  
        right: 3px; 
     }
     #formatBlockAM{
      position: relative;
      left: 5%;
      margin-top: 1%;   
         border-style: solid;
         border-width: thick;
         border-color: gray; 
         width: 50%;
         float: left;
  
      }
      .containerAM {
        display: flex;
        float: left;
        margin-left: 22%;
     }


        /* fith page "ME" */ 
    h1.header5 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   .mystyle {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle3 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle4 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle5 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }

  /* Snake Game HTML CSS */ 

  h1.header6 {
    text-align:center;
    color: black;
    border-style: outset;   
 }
  .canvasGame {
    position:relative;
    left: 40%;
    top: 25%;
  }

  
