body.page1{
    background-color: whitesmoke;
}
h1.header1 {
    text-align:center;
    color: black;
    border-style: outset;
}
h1.header11{
    text-align: center;
    color: greenyellow;
}
p.p1{
    text-align: center;
    color: brown;
    font-size: 200%
}
p.p11{
    font-size: 400%;
    text-align: center;
    border-style: dotted;
}
ul {
    list-style-type: none;
    margin: -21;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 5.5%;
  }
  li a:hover {
    background-color: #04AA6D; /* Hovering color of the menu-bar */
  }

  button.btnme {
      position: absolute;
      right: 0px;
      bottom: 200px;
  }

  /* Image gallery */ 
  div.gallery {

    margin: 2px;
    border: 2px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 15px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }



    /* Second page */

    h1.header02 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
button.btnmain{
    position: absolute;
    left: 0px;
    bottom: 200px;
   }
   button.btnpage23{
       position: absolute;
       right: 0px;
       bottom: 200px;
   }
   #formatBlock{
    position: absolute;
    left: 1010px;
    bottom: 35%;
   
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       width: 45%;
       float: left;
   }
   #formatBlocktest{
    position: absolute;
    left: 40px;
    bottom: 35%;
   
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       width: 45%;
       float: left;
   }
#lastcol{
    margin-bottom: 2.5%;
}
/* page 2 Tabel */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

    /* Third Page */
    h1.header3 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   button.btnpage32{
    position: absolute;
       left: 0px;
       bottom: 200px;
   }
   button.btnpage34{
       position: absolute;
       right: 0px;
       bottom: 200px;
   }
   #formatBlock3{
    position: absolute;
    left: 25%;
    bottom:  25%;
   
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       width: 45%;
       float: left;
   } 
    /* rotating picture */ 
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        float: left;
        margin-left: 2%;
      }
   

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      .flip-card-back {
        background-color:black;
        color: white;
        transform: rotateY(180deg);
      }


 
    /* Fourth Page */ 
    h1.header4 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   button.btnpage43{
    position: absolute;
       left: 0px;
       bottom: 200px;
   }  
    button.btnpage433{
    position: absolute;
       right: 0px;
       bottom: 200px;
   }
   #formatBlockAM3{
    position: absolute;
    left: 25%;
    bottom:  26%;
   
       border-style: solid;
       border-width: thick;
       border-color: gray; 
       width: 45%;
       height: 18%;
       float: left;
   } 


        /* Last page about myself */ 
    h1.header5 {
        text-align:center;
        color: black;
        border-style: outset;   
     }
   button.btnpageme {
    position: absolute;
    left: 0px;
    bottom: 200px;
   }
   .mystyle {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle3 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle4 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }
  .mystyle5 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 1.5%;
  }



  /* Snake Game HTML CSS */ 

  h1.header6 {
    text-align:center;
    color: black;
    border-style: outset;   
 }
  .canvasGame {
    position:relative;
    left: 40%;
    top: 25%;
  }
  
